:root {
	/* --main: #FC6261; */
	--main: #6192F4;
	/* --main: #000000; */
	--white: #FFFFFF;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--main);
    font-family: sans-serif;
}

.flex-parent {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.resumeHeader {
    text-align: center;
    line-height: 1.15em;
}

.resumeHeader h1 {
    line-height: 1.5em;
}

.opaque {
    /* background: var(--main); */
}

.header {
    max-width: 400px;
    margin: auto;
    margin-top: 17.5vh;
    padding: 2em;
    padding-top: 1em;
    text-align: center;
}

.header h1 {
    font-size: 2.75em;
}

.body-center {
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 2em;
}

.body-center h1 {
    font-size: 2em;
}

.body-center p {
    font-size: 1.5em;
}

.align-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.resumeContainer {
    flex-direction: column;
}

.resumeContainer h1 {
    flex-basis: 60vw;
    text-align: center;
}

h1, h2, h3, p {
    color: var(--white);
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
}

.project {
    margin: 1em;
    background: var(--white);
    flex-basis: 25em;
    overflow: hidden;
    border-radius: 0.2em;
    border-style: solid;
    border-width: 0.075rem;
    border-color: #d6d6d6;
    box-shadow: 5px; 
    transition: all 200ms ease;
}

.project h1 {
    color: black;
    font-size: 1.5em;
}

.project img {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: content-box;
}

.project .project-desc {
    padding: 0.5em;
}

.project .project-desc {
    margin: auto;
    color: black;
    font-size: 1.25em;
    text-align: center;
}

.project:hover {
    transform: scale(1.05);
    border-color: black;
    border-width: 0.1rem;
}

.icon-btn {
    display: inline-block;
    transition: all 200ms ease;
}

.icon-btn:hover {
    transform: scale(1.25);
}

.icon {
    width: 3.5rem;
    fill: var(--white);
    stroke: var(--white);
    transition: all 200ms ease;
}

.icon:hover {
    fill: var(--main);
    stroke: var(--white);
}

.link-icon .icon {
    stroke: var(--main);
    fill: var(--main);
    position: relative;
    top: 0.25em;
    height: 1.25em;
    padding: 0;
    padding-left: 0.125em;
    margin: 0;
}

.star-icon .icon {
    stroke: var(--main);
    fill: var(--main);
    width: 1.5rem;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.smallmenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0em;
}

.smallmenu .linkButton {
    font-size: 1.5em;
    padding: 0.5em;
    min-width: 4em;
}

.linkButton {
    display: inline-block;
    font-size: 1.8rem;
    padding: 0.5rem;
    color: var(--white);
    border-color: var(--white);
    border-style: solid;
    border-radius: 0.4rem;
    border-width: 0.15rem;
    transition: all 200ms ease;
    margin: 0.5em;
}

.linkButton:hover {
    background: var(--white);
    color: var(--main);
    transform: scale(1.075);
}

.resume {
    max-width: 100ch;
    margin: 1em;
    margin-top: 0em;
}

.resumeSection {
    background: var(--white);
    color: black;
    line-height: 2em;
    padding: 1em;
    margin: 1em;
    padding-top: 0;
    border-radius: 0.5em;
    border-style: solid;
    border-color: black;
    border-width: 0.1em;
}

.resumeSection * {
    color: black;
}

.resumeSection h3 {
    margin-bottom: 0;
}

.resumeSection ul {
    margin-top: 0;
    line-height: 1.5em;
    list-style-position: outside;
    padding-left: 1em;
}

.resumeSection li:first-child:before { 
    top: 0.75em;  
}

.resumeSection li:before {
    background-color: var(--main);
    width: 0.225em;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -0.75em;
}

.resumeSection li {
    position: relative;
    margin: 0;
    padding-bottom: 0.75em;
    line-height: 1.4em;
    list-style-type: none;
} 

.resumeSection li:after {
    content: '';
    position: absolute;
    /* the color here and for big circle has to be changed manually */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%236192F4' cx='12' cy='12' r='12'%3E%3C/circle%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    left: -0.93rem;
    top: 0.375em;
    width: 12px;
    height: 12px;
}

.resumeSection li:first-child:after {
    top: 0.2rem;
    left: -1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%236192F4' cx='16' cy='16' r='16'%3E%3C/circle%3E%3C/svg%3E");
}

.resumeSection li:last-child:before {
    height: 0.75em;
}

.resumeSection li:first-child:last-child:before {
    display: none;
}

.lift {
    position: relative;
    top: -0.35em;
}

h3 .timeframe {
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    padding-left: 1em;
}

.skillTabs {
    position: relative;
    min-height: 20em;
    clear: both;
    margin: 1em 0;
    transition: min-height 200ms ease;
    display: flex;
    justify-content: center;
}

.skillTab {
    float: left;
    overflow: hidden;
}

.skillTab label {
    display: inline-block;
    min-width: 5em;
    text-align: center;
    background: var(--white);
    padding: 0.25em;
    margin-right: 0.5em;
    position: relative;
    font-size: 1.1em;
    border-style: solid;
    border-color: var(--main);
    border-radius: 0.25em;
    transition: all 200ms ease;
}

.skillTab label:hover {
    transform: scale(1.05);
}

.skillTab [type=radio] {
    display: none;
}

.skillTabContent {
    position: absolute;
    width: 100%;
    background: var(--white);
    top: 3em;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 500ms ease;
    transition: top 200ms ease;
    z-index: 4;
}

[type=radio]:checked ~ label ~ .skillTabContent {
    z-index: 1;
    opacity: 1;
}

[type=radio]:checked ~ label {
    z-index: 2;
    background: var(--main);
    color: var(--white);
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
}

.center {
    text-align: center;
}

.detail-header h1 {
    margin-bottom: 0.25rem;
}

.detail-link {
    margin-bottom: 1rem;
}

.detail-link a {
    font-size: 1.5em;
    text-decoration: underline;
    color: white;
}

.detail-header {
    margin-top: 0;
    max-width: 80ch;
}

.detail-container {
    margin: auto;
    flex-basis: 60vw;
}

.detail-body {
    max-width: 100ch;
    margin: auto;
    margin-top: -3em;
    color: white;
}

.detail-card {
    background: white;
    padding: 2em;
    padding-top: 1em;
    border-radius: 2.5% 2.5%;
    /* box-shadow: 0px 0px 15px #000; */
}

.detail-body p, .detail-body ul li {
    font-size: 1.25rem;
    color: black;
}

.detail-img-container {
    background-color: var(--main);
    text-align: center;
    width: calc(100% + 4em);
    margin-left: -2em;
}

.detail-img {
    max-width: 90%;
    max-height: 45vh;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

main {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.signup-form {
    padding-left: 4em;
    padding-right: 4em;
}

.signup-form * {
    font-size: 1em;
}

.signup-form input[type=submit] {
    display: inline-block;
    color: var(--white);
    border-color: var(--white);
    border-style: solid;
    border-radius: 0.2rem;
    border-width: 0.1rem;
    background: var(--main);
    font-size: 1.25em;
    text-align: center;
    width: 100%;
    transition: all 200ms ease;
}

.signup-form input[type=submit]:hover {
    background: var(--white);
    color: var(--main);
    transform: scale(1.075);
}

@media only screen and (max-width: 1000px) {
    .skillTabs {
        min-height: 21.5em;
    }
}

@media only screen and (max-width: 768px) {
    .resume .resumeSection {
        margin-left: 0;
        margin-right: 0;
    }

    .skillTabs {
        min-height: 18.5em;
	max-width: 85vw;
    }

    .skillTab label {
        transform: scale(0);
    }

    .skillTabContent {
        top: -0.5em;
    }

    .project {
        margin-left: 0.0em;
        margin-right: 0.0em;
    }

    .body-center {
        padding-left: 0.25em;
        padding-right: 0.25em;
	margin-left: 0.5em;
	margin-right: 0.5em;
    }
}

.very-important {
    color: var(--main);
}

@media only screen and (max-width: 680px) {
    .skillTabs {
        min-height: 18em;
    }
}

@media only screen and (max-width: 600px) {
    .skillTabs {
        min-height: 20em;
    }
}

@media only screen and (max-width: 500px) {
    .resume {
        margin-left: 0;
        margin-right: 0;
    }

    .skillTabs {
        min-height: 24em;
    }
}

@media only screen and (max-width: 400px) {
    .skillTabs {
        min-height: 25em;
    }
}

@media (prefers-reduced-motion) {
    * {
        transform: none !important;
    }
}
