<!DOCTYPE html>
<html>
<head>
  <title>Mikail Khan</title>
  %include% {{templates/header.html}}
</head>
<body>
  <canvas id="bg"></canvas>
  <main>
    <div class="flex-parent">
      <div class="section">
        <div class="header opaque">
          <h1>Projects</h1>
          <nav class="body-center smallmenu">
            <div>
            <a class="linkButton" href="%path% {{}}">Home</a>
            </div>
            <div>
            <a class="linkButton" href="https://blog.mikail-khan.com">Blog</a>
            </div>
            <div>
            <a class="linkButton" href="https://blog.mikail-khan.com/updates">Updates</a>
            </div>
          </nav>
        </div>
        <div class="body-center">
          <div class="project-grid opaque">
            %startloop% {{projects}}
            <div class="project">
	    <a href="{{projectDetailsRoute}}">
              <h1 class="align-center"><span class="align-center">{{projectName}}</span></h1><img src="{{projectThumbnail}}">
              <div class="project-desc">
                  {{projectDesc}}
              </div></a>
            </div>
            %end%
          </div>
        </div>
      </div>
    </div>
  </main>
  %include% {{templates/footer.html}}
</body>
</html>
