<!DOCTYPE html>
<html>
<head>
  <title>{{projectName}}</title>
  %include% {{templates/header.html}}
</head>
<body>
  <canvas id="bg"></canvas>
  <main>
    <div class="detail-container flex-parent">
      <div class="header detail-header opaque">
          <h1>{{projectName}}</h1>
        <div class="detail-link">
	    <a href="{{projectURL}}">{{projectURL}}</a>
        </div>
        <nav class="body-center smallmenu">
          <div>
          <a class="linkButton" href="%path% {{index}}">Home</a>
          </div>
          <div>
          <a class="linkButton" href="%path% {{portfolio}}">Portfolio</a>
          </div>
        </nav>
      </div>
      <div class="body-center detail-body">
        <div class="detail-card opaque">
        <div class="detail-img-container"><img src="{{projectThumbnail}}" class="detail-img"></div>
	<p>{{projectDetailDesc}}</p>
        </div>
      </div>
    </div>
  </main>
  %include% {{templates/footer.html}}
</body>
</html>
