<!DOCTYPE html>
<html>
<head>
  <title>Mikail Khan</title>
  %include% {{templates/header.html}}
</head>
<body>
  <canvas id="bg"></canvas>
  <main>
    <div class="resumeContainer flex-center">
      <div class="resumeHeader opaque">
        <h1>Mikail Khan</h1>
        <h3>mikail [at] mikail-khan [dot] com</h3><a href="https://github.com/mkhan45"><span class="icon-btn">{{ghicon}}</span></a><a href="https://www.linkedin.com/in/mikail-khan-6121921a1/"><span class="icon-btn">{{liicon}}</span></a>
        <nav class="body-center smallmenu">
          <div>
          <a class="linkButton" href="%path% {{index}}">Home</a>
          </div>
          <div>
          <a class="linkButton" href="%path% {{portfolio}}">Portfolio</a>
          </div>
        </nav>
      </div>
      <div class="resume opaque">
        <div class="resumeSection skills">
          <h2>Skills</h2>
          <hr>
          %startloop% {{skills}}
          {{name}}, 
          %end%
        </div>
        <div class="resumeSection experienceList">
          <h2>Experience</h2>
          <hr>
          %startloop% {{experience}}
          <div class="experienceEntry">
            <ul>
              <li>
                  %if% {{url}}
                  <h3><span class="lift"><a href="{{url}}">{{name}}
                      %if% {{timeframe}}
                      <span class="timeframe">({{timeframe}})</span>
                      %end%
                  <span class="link-icon">{{linkicon}}</span></a></span></h3>
                  %end%

                  %ifnot% {{url}}
                  <h3><span class="lift">{{name}}
                      %if% {{timeframe}}
                      <span class="timeframe">({{timeframe}})</span>
                      %end%
                  </span></h3>
                  %end%
              </li>
              %startloop% {{description}}
                <li>{{item}}</li>
              %end%
            </ul>
          </div>
          %end%
        </div>
        <div class="resumeSection educationList">
          <h2>Education</h2>
          <hr>
          %startloop% {{education}}
          <div class="educationEntry">
            <ul>
              <li>
              %if% {{url}}
              <h3><span class="lift"><a href="{{url}}">{{name}}
                  %if% {{timeframe}}
                  <span class="timeframe">({{timeframe}})</span>
                  %end%
                  <span class="link-icon">{{linkicon}}</span></a></span>
              </h3>
              %end%

              %ifnot% {{url}}
              <h3><span class="lift">{{name}}
                  %if% {{timeframe}}
                  <span class="timeframe">({{timeframe}})</span>
                  %end%
                  </span>
              </h3>
              %end%
              </li>
              %startloop% {{description}}
              <li>{{item}}</li>
              %end%
            </ul>
          </div>
          %end%
        </div>
      </div>
    </div>
  </main>
  %include% {{templates/footer.html}}
</body>
</html>
